[Unit]
Description=Deltix Aggregator Service on port {{aggregator_port}}
After=syslog.target

[Service]
Environment=DELTIX_HOME={{deltix_home}}
Restart=always
User={{ansible_user}}
Group={{ansible_user}}
WorkingDirectory={{quantserver_home}}
ExecStart=/usr/bin/java {{ agg_java_opts }} -jar {{ deltix_home }}/bin/runjava.jar deltix.qsrv.comm.cat.TomcatCmd -agg -home {{ quantserver_home }}
SyslogIdentifier=aggregator

[Install]
WantedBy=multi-user.target

